body{
    font-family: 'Poppins', sans-serif;
    margin: 0px ;
}
h1{
    font-size: 50px;
}
.purple{
    color: rebeccapurple;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange , tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exprience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.align{
    padding-right: 60px;
}
.yellow-color{
    color: yellowgreen;
}
.exprience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    border-radius: 10px;

    box-shadow: 10px 10px 40px blueviolet;
    

}
.text{
    font-size: 40px;
}
#full-developer{
    border-left: 7px solid darkred;
}
#baby-developer{
    border-left: 7px solid darkgreen;
}
footer{
    text-align: center;
}